#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
  }
  .ovaralay{
position: fixed;
width: 100%;
height: 100%;
top:0;
left: 0;
background-color: rgba(0, 0, 0, 0.662);
z-index: 9999999;
  }
  
  
  #loading-bar-spinner.spinner .spinner-icon {
    width: 70px;
    height: 70px;
    border:  solid 7px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
  }
  
  @keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
  }
  

  .MuiTypography-body2 {
    font-size: 13px !important;
}
.MuiStepper-root {
  padding: 24px 5px !important;
}

.MuiDataGrid-root{
  background-color: #fff !important;
}